<section class="inicio">
    <header>
        <img src="/img/controle.png" alt="controle">
        <h1>Catalogo de Jogos</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
                <a href="/signup">Cadastro</a>
            </li>
        </ul>
    </nav>
</section>